<header class="border-b-1 border-gray-300 py-1">
  <nav class="py-4 max-w-screen-xl md:w-11/12 mx-auto px-3 flex flex-nowrap">
    <span class="text-xl md:text-2xl font-bold">Stock Manager</span>
    <div class="flex flex-nowrap gap-4 items-center justify-end flex-1">
      <button
        (click)="handleViewChange('view')"
        class="text-lg hover:text-blue-700 hover:underline underline-offset-4"
      >
        View
      </button>
      <button
        (click)="handleViewChange('create')"
        class="text-lg hover:text-blue-700 hover:underline underline-offset-4"
      >
        Create
      </button>
    </div>
  </nav>
</header>
