<div class="px-10 pb-3 pt-10 flex flex-row items-center gap-5">
  <div>
    <h2 class="mb-1">Blogs</h2>
    <span>Data for blog page on the website</span>
  </div>
  <div class="ml-auto pr-1">
    <a
      routerLink="/blog/add"
      class="bg-primary hover:bg-opacity-90 py-2 px-8 rounded-md text-white"
    >
      Add
    </a>
  </div>
</div>

<div class="overflow-x-auto relative shadow-md sm:rounded-lg mx-10 my-10">
  <table class="w-full text-sm text-left table-fixed">
    <thead class="font-bold uppercase bg-gray-200">
      <tr>
        <th scope="col" class="py-3 px-6 w-20">Serial</th>
        <th scope="col" class="py-3 px-6">Title</th>
        <th scope="col" class="py-3 px-6">Author</th>
        <th scope="col" class="py-3 px-6">Created At</th>
        <th scope="col" class="py-3 px-6 w-48">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of blogs; let i = index"
        class="border-b-1 dark:border-gray-200"
      >
        <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap">
          {{ i + 1 }}
        </th>
        <td class="py-4 px-6">{{ item.title }}</td>
        <td class="py-4 px-6">{{ item.author.name }}</td>
        <td class="py-4 px-6">{{ item.createdAt.toLocaleDateString() }}</td>
        <td class="py-4 px-6">
          <button
            (click)="handleEdit(item.id)"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline mx-2 px-2"
          >
            Edit
          </button>
          <button
            (click)="handleDelete(item.id)"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline mx-2 px-2"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
