<header class="border-b-1 border-gray-300 py-2">
  <nav
    class="py-2 max-w-screen-2xl mx-auto px-3 md:w-11/12 flex flex-nowrap flex-row items-center justify-between"
  >
    <a routerLink="/" class="text-2xl font-bold text-slate-800 uppercase"
      >App Name</a
    >
    <div class="ml-auto flex flex-nowrap items-center justify-end gap-8">
      <a
        routerLink="/me"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-lg hover:underline underline-offset-4 text-slate-800"
        routerLinkActive="font-bold underline text-primary"
      >
        Dashboard
      </a>
      <a
        routerLink="/"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-lg hover:underline underline-offset-4 text-slate-800"
        routerLinkActive="font-bold underline text-primary"
      >
        Login
      </a>
    </div>
  </nav>
</header>
