<ul class="text-lg grid gap-1 sticky top-10">
  <a
    routerLink="profile"
    class="capitalize py-3 px-5 transition-colors duration-200"
    routerLinkActive=" bg-gray-300 text-primary"
    >Profile</a
  >

  <a
    routerLink="blogs"
    class="capitalize py-3 px-5 transition-colors duration-200"
    routerLinkActive=" bg-gray-300 text-primary"
    >blogs</a
  >

  <a
    routerLink="resources"
    class="capitalize py-3 px-5 transition-colors duration-200"
    routerLinkActive=" bg-gray-300 text-primary"
    >resources</a
  >

  <a
    routerLink="team"
    class="capitalize py-3 px-5 transition-colors duration-200"
    routerLinkActive=" bg-gray-300 text-primary"
    >team</a
  >

  <a
    routerLink="contact"
    class="capitalize py-3 px-5 transition-colors duration-200"
    routerLinkActive=" bg-gray-300 text-primary"
    >Contact</a
  >

  <a
    routerLink="careers"
    class="capitalize py-3 px-5 transition-colors duration-200"
    routerLinkActive=" bg-gray-300 text-primary"
    >Careers</a
  >

  <a
    routerLink="app-info"
    class="capitalize py-3 px-5 transition-colors duration-200"
    routerLinkActive=" bg-gray-300 text-primary"
    >App Info</a
  >
</ul>
