<ul
  class="basis-96 grow shrink max-w-sm text-lg bg-gray-100 border-r-1 border-gray-300 flex flex-col gap-3 px-8 py-6 h-full"
>
  <li>
    <a
      routerLink="profile"
      routerLinkActive="font-bold underline underline-offset-4"
      [routerLinkActiveOptions]="{ exact: true }"
      >Profile</a
    >
  </li>
  <li>
    <a
      routerLink="edit-profile"
      routerLinkActive="font-bold underline underline-offset-4"
      [routerLinkActiveOptions]="{ exact: true }"
      >Edit Profile</a
    >
  </li>
  <li>
    <a
      routerLink="edit-password"
      routerLinkActive="font-bold underline underline-offset-4"
      [routerLinkActiveOptions]="{ exact: true }"
      >Edit Password</a
    >
  </li>
</ul>
