/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Work Sans";
}

.d {
  @apply border-2 border-red-900 border-solid;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input.ng-invalid.ng-touched {
  border-color: rgb(185, 28, 28) !important;
}
